<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>List Page</title>
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <div class="title">비숙련 이민프로그램 기간 조사표</div>
    <div class="under_title">
        <ul class="notice">
            <li>입력된 개인정보는 서버에 암호화되어 저장되며 입력된 개인정보는 <b><span style="color:red;">언제든지 수정 및 삭제가 가능합니다.</span></b></li>
            <li>또한 입력된 개인정보는 이주공사 및 사익의 목표로하는 제3자에게 제공되지 않으며 이민 정보제공의 목적으로만 사용됩니다.</li>
        </ul>
    </div>

    <a href="/insert">INSERT DATA</a>

    <table class="table table-striped table-bordered table-hover table-condensed" id="world_clock">
        <tr>
            <th>ID</th>
            <th>이름/닉네임</th>
            <th>이주공사</th>
            <th>고용주</th>
            <th>고용지역</th>
            <th>현재진행상황</th>
            <th>계약일</th>
            <th>우선일자</th>
            <th>LC승인일</th>
            <th>i140접수일</th>
            <th>i140 일반/급행</th>
            <th>i140승인일</th>
            <th>비자피통보일</th>
            <th>비자피납부일</th>
            <th>DS-260접수일</th>
            <th>DS-260승인일</th>
            <th>인터뷰통보일</th>
            <th>인터뷰일자</th>
            <th>비자수령일</th>
            <th>출국일</th>
            <th>오딧일자</th>
            <th>I140 RFE 일자</th>
            <th>인터뷰 서류제출일</th>
            <th>삭제/수정</th>
        </tr>
        <% data.forEach(function(item,index) { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.immigration_company %></td>
            <td><%= item.work_company %></td>
            <td><%= item.location %></td>
            <td><%= item.now_progress %></td>
            <td><%= item.contract_date %></td>
            <th><%= item.priority_date %></th>
            <th><%= item.lc_approve_date %></th>
            <th><%= item.i140_receive_date %></th>
            <th><%= item.i140_case %></th>
            <th><%= item.i140_approve_date %></th>
            <th><%= item.visa_fee_notice_date %></th>
            <th><%= item.visa_fee_pay_date %></th>
            <th><%= item.ds260_receive_date %></th>
            <th><%= item.ds260_approve_date %></th>
            <th><%= item.interview_notice_date %></th>
            <th><%= item.interview_date %></th>
            <th><%= item.visa_receive_date %></th>
            <!-- Departure Date -->
            <th><%= item.departure_date %></th>
            <!-- additional Information Audit, RFE, Blue letter -->
            <th><%= item.lc_audit_date %></th>
            <th><%= item.i140_rfe_date %></th>
            <th><%= item.interview_blue_date %></th>
            <!-- Control Panel -->
            <td><a href="/delete/<%= item.id %>">삭제</a> <a href="/edit/<%= item.id %>">수정</a></td>
        </tr>
        <% }); %>
    </table>
</body>
</html>