img {
  width: 300px;
  padding-bottom: 10px;
}

span {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0px;
}

#

#outside {
  border: 1px solid #ddd;
  padding: 10px 10px 10px 10px;
}

#inside {
  border: 1px solid #ddd;
  padding: 10px 10px 10px 10px;
}
