body {
    background-color: #EDEDEF;
    width:100%;
}

.title {
    background-color: #F75248;
    font-size: 21px;
    font-weight: bold;
    color: white;
    padding: 15px 20px;
    line-height: 28px;
    border: 1px solid #D8362C;
}

.notice {
    padding: 10px;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
}

.total_box {
    width: 900px;
    height: 1100px;
    margin: auto;
}

.left_box {
    width: 400px;
    height: 630px;
    background-color: white;
    margin: 20px 10px 10px 0px;
    border-top: 1px solid #D5D5D5;
    border-right: 1px solid #ACACAC;
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #DBDBDB;
    padding: 10px 10px 10px 10px;
    float: left;
}

.right_box {
    width: 400px;
    height: 710px;
    background-color: white;
    margin: 20px 10px 10px 0px;
    border-top: 1px solid #D5D5D5;
    border-right: 1px solid #ACACAC;
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #DBDBDB;
    padding: 10px 10px 10px 10px;
    float: left;
}

.container{
    width:100%;
}